<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/fragmentos :: cabecera"></head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="layouts/fragmentos :: sidebar"></div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="layouts/fragmentos :: topbar"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					

					<!-- Tabla -->

					<div class="card">
						<div class="card-header"><div
						class="d-sm-flex align-items-center justify-content-between ">
						<h1 class="h3 mb-0 text-gray-800">Lista de Usuarios</h1>

					</div></div>
						<div class="card-body">
							<table class="table table-bordered table-hover ">
								<thead class="thead-dark">
									<tr>
										<th>ID</th>
										<th>Nombre</th>
										<th>Ap.Paterno</th>
										<th>Ap.Materno</th>
										<th>Tipo Doc.</th>
										<th>Nro Doc.</th>
										<th>Telefono</th>
										<th>Correo</th>
										<th>Fecha Nacimiento</th>
										<th>Cargo</th>
										<th>Estado</th>
										<th></th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item: ${listaUsuarios}">
										<td th:text="${item.id}">1</td>
										<td th:text="${item.nombre}">abc</td>
										<td th:text="${item.appaterno}">d abc</td>
										<td th:text="${item.apmaterno}">d abc</td>
										<td th:text="${item.documento.nombre}">d abc</td>
										<td th:text="${item.numdocumento}">d abc</td>
										<td th:text="${item.telefono}">1</td>
										<td th:text="${item.correo}">1</td>
										<td th:text="${item.fecha_nac}">1</td>
										<td th:text="${item.perfil.nombre}">1</td>
										<td th:text="${item.estado}">1</td>
										<td class="text-center"><a href="#"
											class="btn btn-warning editarDetalle" th:id="${item.id}"
											th:param1="${item.nombre}" th:param2="${item.appaterno}" th:param3="${item.documento.id}"
											th:param4="${item.numdocumento}" th:param5="${item.telefono}" th:param6="${item.correo}"
											th:param7="${item.fecha_nac}" th:param8="${item.perfil.id}" th:param9="${item.estado}" 
											th:param10="${item.nick}" th:param11="${item.password}" th:param12="${item.apmaterno}">
												<i class="fas fa-edit"></i> Editar
										</a></td>
										<td class="text-center"><a
											th:href="@{/usuario/eliminar/}+${item.id}"
											th:onclick="return confirm('Desea eliminar?')" 
											class="btn btn-danger"> <i class="fas fa-trash-alt"></i>
												Eliminar  
										</a></td> 
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- Fin Tabla -->

					<div class="row mt-2">
						<div class="col-12">
							<button type="button" id="btnNueva" class="btn btn-secondary"
								data-toggle="modal" data-target="#formularioModal">
								<i class="fas fa-plus-circle"></i> Nuevo Empleado
							</button>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:replace="layouts/fragmentos :: footer"></div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Modal -->
	<div class="modal fade" id="formularioModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Nuevo Empleado:</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form th:action="@{/usuario/form}" th:object="${usuario}"
					method="post">
					<input type="hidden" th:field="*{id}" />
					<div class="modal-body">
						<div class="row">
							<div class="col-12 mb-2">
								<label>Ingrese nombre:</label> <input type="text"
									class="form-control" th:field="*{nombre}" />
							</div>
							<div class="col-12 mb-2">
								<label>Ingrese Apellido Paterno: </label> <input type="text"
									class="form-control" th:field="*{appaterno}" />
							</div>
							<div class="col-12 mb-2">
								<label>Ingrese Apellido Materno: </label> <input type="text"
									class="form-control" th:field="*{apmaterno}" />
							</div>
							<div class="col-12 mb-2">
								<label>Tipo Documento</label> <select class="form-control"
									th:field="*{documento.id}">
									<option value="">Seleccione una opción</option>
									<option th:each="item : ${listaDocumentos}"
										th:value="${item.id}" th:text="${item.nombre}"></option>
								</select>
							</div>
							
							<div class="col-12 mb-2">
								<label>Numero Documento: </label> <input type="text"
									class="form-control" th:field="*{numdocumento}" />
							</div>
							
							<div class="col-12 mb-2">
								<label>Correo: </label> <input type="text"
									class="form-control" th:field="*{correo}" />
							</div>
							
							<div class="col-12 mb-2">
								<label>Numero Telefono: </label> <input type="text"
									class="form-control" th:field="*{telefono}" />
							</div>

							<!--<div class="col-12 mb-2">
								<label>Genero:</label> <select class="form-control"
									th:field="*{genero}">
									<option value="">Seleccione una opción</option>
									<option th:value="'Masculino'" th:text="Masculino"></option>
									<option th:value="'Femenino'" th:text="Femenino"></option>
								</select>
							</div>
							
							<div class="col-12 mb-2">
								<label>Estado Civil:</label> <select class="form-control"
									th:field="*{estado}">
									<option value="">Seleccione una opción</option>
									<option th:value="'Soltero'" th:text="Soltero"></option>
									<option th:value="'Casado'" th:text="Casado"></option>
									<option th:value="'Viudo'" th:text="Viudo"></option>
								</select>
							</div>-->
							
							<div class="col-12 mb-2">
								<label>Fecha de Nacimiento: </label> <input type="date"
									class="form-control" th:field="*{fecha_nac}" required />
							</div>

							<div class="col-12 mb-2">
								<label>Perfil</label> <select class="form-control"
									th:field="*{perfil.id}">
									<option value="">Seleccione una opción</option>
									<option th:each="item : ${listaPerfiles}"
										th:value="${item.id}" th:text="${item.nombre}"></option>
								</select>
							</div>
							
							<div class="col-12">
								<label>Password: </label> <input type="password"
									class="form-control" th:field="*{password}" />
							</div>
							
						</div>
					</div>
					<br>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">
							<i class="fas fa-ban"></i> Cancelar
						</button>
						<button type="submit" class="btn btn-primary">
							<i class="fas fa-save"></i> Guardar Empleado
						</button>
					</div>
				</form> 
			</div>
		</div>
	</div>

	<!-- Logout Modal-->
	<div th:replace="layouts/fragmentos :: logoutmodal"></div>

	<!-- Bootstrap core JavaScript-->
	<div th:replace="layouts/fragmentos :: librerias"></div>
	<script th:src="@{/js/usuario.js}"></script>

	<!-- Custom scripts for all pages-->

</body>

</html>