<!DOCTYPE html>
<html lang="en">

<head th:fragment="cabecera">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>SB Admin 2 - Dashboard</title>

<!-- Custom fonts for this template-->
<link th:href="@{/css/all.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/estilo.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

<!-- Custom styles for this template-->
<link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet">
<link th:href="@{/css/select2.min.css}" rel="stylesheet">
<link th:href="@{https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css}" rel="stylesheet" />

</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:fragment="sidebar">

			<ul class="navbar-nav  sidebar sidebar-dark accordion colorF"
				id="accordionSidebar">

				<!-- Sidebar - Brand -->
				<a
					class="sidebar-brand d-flex align-items-center justify-content-center colorF"
					th:href="@{/principal/}">
					<div class="sidebar-brand-icon rotate-n-15">
						<i class="fas fa-laugh-wink"></i>
					</div>
					<div class="sidebar-brand-text mx-3">SB Admin</div>
				</a>

				<!-- Divider -->
				<hr class="sidebar-divider my-0 border"> 
				
				<br>
				
				<div class="sidebar-heading colorF">Tablas</div>

				<!-- Nav Item - Dashboard -->
				<li class="nav-item active colorF"><a class="nav-link"
					th:href="@{/usuario/}"> <i class="fa-solid fa-users"></i>
						<span>Usuarios</span></a></li>
						
				<li class="nav-item active colorF"><a class="nav-link"
					th:href="@{/actividad/}"> <i class="fa-solid fa-industry"></i>
						<span>Actividades</span></a></li>
						
				<li class="nav-item active colorF"><a class="nav-link"
					th:href="@{/modelo/}"> <i class="fa-solid fa-industry"></i>
						<span>Modelos</span></a></li>
						
				<li class="nav-item active colorF"><a class="nav-link"
					th:href="@{/perfil/}"> <i class="fa-solid fa-address-card"></i>
						<span>Perfiles</span></a></li> 
						
				<li class="nav-item active colorF"><a class="nav-link"
					th:href="@{/documento/}"> <i class="fa-solid fa-passport"></i>
						<span>Documentos</span></a></li>
						
				<li class="nav-item active colorF"><a class="nav-link"
					th:href="@{/udetalle/}"> <i class="fa-solid fa-table"></i>
						<span>Reportes</span></a></li>
						
				<!--  <li class="nav-item active colorF"><a class="nav-link"
					th:href="@{/empleado/}"> <i class="far fa-user-circle"></i>
						<span>Empleados</span></a></li> -->
						

				<!-- Heading -->
				

				<!-- Nav Item - Pages Collapse Menu -->
				<!--  <li class="nav-item colorF"><a class="nav-link collapsed"
					href="#" data-toggle="collapse" data-target="#collapsePages"
					aria-expanded="true" aria-controls="collapsePages"> <i
						class="fas fa-fw fa-folder"></i> <span>Pages</span>
				</a>
					<div id="collapsePages" class="collapse "
						aria-labelledby="headingPages" data-parent="#accordionSidebar">
						<div class="bg-white py-2 collapse-inner rounded">
							<h6 class="collapse-header">Login Screens:</h6>
							<a class="collapse-item" href="login.html">Login</a> <a
								class="collapse-item" href="register.html">Register</a> <a
								class="collapse-item" href="forgot-password.html">Forgot
								Password</a>
						</div>
					</div></li> -->
					
				

				<!-- Divider -->


				<!-- Sidebar Toggler (Sidebar) -->
				<div class="text-center d-none d-md-inline colorF">
					<button class="rounded-circle border-0" id="sidebarToggle"></button>
				</div>

			</ul>

		</div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->

				<div th:fragment="topbar">

					<nav
						class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow fondo3">

						<!-- Sidebar Toggle (Topbar) -->

						<!-- Topbar Search -->

						<!-- Topbar Navbar -->
						<ul class="navbar-nav ml-auto">

							<!-- Nav Item - Search Dropdown (Visible Only XS) -->


							<div class="topbar-divider d-none d-sm-block"></div>

							<!-- Nav Item - User Information -->
							<li class="nav-item dropdown no-arrow"><a
								class="nav-link dropdown-toggle" href="#" id="userDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> 
								<span class="mr-2 d-none d-lg-inline text-white small font-weight-bolder">
									<span sec:authentication="name"></span>
									<span sec:authentication="principal.authorities"></span>
								</span>

								<!--  <img class="img-profile rounded-circle"
                                    src="img/undraw_profile.svg"> -->
							</a> <!-- Dropdown - User Information -->
								<div
									class="dropdown-menu dropdown-menu-right shadow animated--grow-in fondo1"
									aria-labelledby="userDropdown">
									<a class="dropdown-item" href="#"> <i
										class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
										Profile
									</a> <a class="dropdown-item" href="#"> <i
										class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
										Settings
									</a> <a class="dropdown-item" href="#"> <i
										class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
										Activity Log
									</a>
									<div class="dropdown-divider"></div>
									
									<!--  <a class="dropdown-item" href="#" data-toggle="modal"
										data-target="#logoutModal"> <i
										class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
										Logout
									</a> -->
									<form th:action="@{/logout}" method="post">
										<button type="submit" class="dropdown-item"> Cerrar Sesion</button>
									</form>
								</div></li>

						</ul>
				</div>

				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->
					<div
						class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>

					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:fragment="footer">
			
			<footer class="sticky-footer bg-white">
				<div class="container my-auto">
					<div class="copyright text-center my-auto">
						<span>Copyright &copy; Your Website 2021</span>
					</div>
				</div>
			</footer>
			
			</div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	
	<div th:fragment="logoutmodal">

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Select "Logout" below if you are ready
					to end your current session.</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancel</button>
					<a class="btn btn-primary" href="login.html">Logout</a>
				</div>
			</div>
		</div>
	</div>
	
	</div>
	
	<div th:fragment="librerias">

	<!-- Bootstrap core JavaScript-->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

	<!-- Custom scripts for all pages-->
	<script th:src="@{/js/sb-admin-2.min.js}"></script>
	
	<script th:src="@{/js/jquery.dataTables.min.js}"></script>
	<script th:src="@{https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js}"></script>
	
	</div>

</body>

</html>