<!DOCTYPE html>
<html lang="en">

<head th:replace="layouts/fragmentos :: cabecera"></head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->
		<div th:replace="layouts/fragmentos :: sidebar"></div>
		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->
				<div th:replace="layouts/fragmentos :: topbar"></div>
				<!-- End of Topbar -->

				<!-- Begin Page Content -->
				<div class="container-fluid">

					<!-- Page Heading -->


					<!-- Tabla -->

					<form th:action="@{/udetalle/form}" th:object="${auxiliar}"
						method="post">

						<div class="col-12 mb-2">
							<label>Usuario</label> <select class="form-control"
								th:field="*{idUsuario}">
								<option th:value="${0}">Seleccione una opción</option>
								<option th:each="item : ${listaUsuario}" th:value="${item.id}"
									th:text="${item.nombre}"></option>
							</select>
							</button>
						</div>

						<div class="col-12 mb-2">
							<label>Modelo</label> <select class="form-control"
								th:field="*{idModelo}">
								<option th:value="${0}">Seleccione una opción</option>
								<option th:each="item : ${listaModelos}" th:value="${item.id}"
									th:text="${item.nombre}"></option>
							</select>
						</div>

						<div class="col-12 mb-2">
							<label>Fecha Inicio: </label> <input type="date"
								class="form-control" th:field="*{fechaInicio}" />
						</div>

						<div class="col-12 mb-2">
							<label>Fecha Final: </label> <input type="date"
								class="form-control" th:field="*{fechaFinal}" />
						</div>

						<button type="submit" class="btn btn-primary mt-2">
							<i class="fas fa-save"></i> Filtrar
						</button>

					</form>



					<div class="card mt-3">
						<div class="card-header">
							<div class="d-sm-flex align-items-center justify-content-between">
								<h1 class="h3 mb-0 text-gray-800">Lista de Actividades por
									Usuario</h1>
							</div>
						</div>
						<div class="card-body">

							<table class="table table-bordered table-hover " id="mitablita">
								<thead class="thead-dark">
									<tr>
										<th>ID</th>
										<th>Modelo</th>
										<th>Actividad</th>
										<th>Usuario</th>
										<th>Cantidad</th>
										<th>Fecha</th>
										<th>Hora Inicial</th>
										<th>Hora Final</th>
										<th>Tiempo Empleado</th>
										<th>Tiempo Ideal</th>
										<th>Eficiencia</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="item: ${listaUDetalles}">
										<td th:text="${item.id}">1</td>
										<td th:text="${item.detalle.modelo.nombre}">abc</td>
										<td th:text="${item.detalle.actividad.nombre}">abc</td>
										<td th:text="${item.usuario.nombre}">abc</td>
										<td th:text="${item.cantidad}">abc</td>
										<td th:text="${item.fecha}">abc</td>
										<td th:text="${item.horai}">abc</td>
										<td th:text="${item.horaf}">abc</td>
										<td th:text="${item.tiempou}">abc</td>
										<td th:text="${item.tiempoi}">abc</td>
										<td th:text="${item.eficiencia}">abc</td>
										<!--  <td class="text-center"><a href="#"
											class="btn btn-warning editarDocumento" th:id="${item.id}"
											th:param1="${item.nombre}" th:param2="${item.descripcion}">
												<i class="fas fa-edit"></i> Editar
										</a></td>
										<td class="text-center"><a
											th:href="@{/documento/eliminar/}+${item.id}"
											th:onclick="return confirm('Desea eliminar?')" 
											class="btn btn-danger"> <i class="fas fa-trash-alt"></i>
												Eliminar
										</a></td>-->
									</tr>
								</tbody>
							</table>
						</div>
					</div>

					<!-- Fin Tabla -->

					<div class="row mt-2">
						<div class="col-12">
							<button type="button" id="btnNueva" class="btn btn-secondary"
								onclick="tableToExcel('mitablita', 'W3C Example Table')"
								value="Export to Excel">
								<i class="fas fa-plus-circle"></i> Emitir reporte
							</button>
						</div>
					</div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<div th:replace="layouts/fragmentos :: footer"></div>
			<!-- End of Footer -->

		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Modal 
	<div class="modal fade" id="formularioModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Nuevo
						Documento:</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form th:action="@{/documento/form}" th:object="${documento}"
					method="post">
					<input type="hidden" th:field="*{id}" />
					<div class="modal-body">
						<div class="row">
							<div class="col-12 mb-2">
								<label>Ingrese nombre:</label> <input type="text"
									class="form-control" th:field="*{nombre}" />
							</div>
							<div class="col-12">
								<label>Ingrese descripción: </label> <input type="text"
									class="form-control" th:field="*{descripcion}" />
							</div>
						</div>
					</div>
					<br>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">
							<i class="fas fa-ban"></i> Cancelar
						</button>
						<button type="submit" class="btn btn-primary">
							<i class="fas fa-save"></i> Guardar Documento
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>-->

	<!-- Logout Modal-->
	<div th:replace="layouts/fragmentos :: logoutmodal"></div>

	<!-- Bootstrap core JavaScript-->
	<div th:replace="layouts/fragmentos :: librerias"></div>
	<script th:src="@{/js/documento.js}"></script>
	<script th:src="@{/js/reporte.js}"></script>
	<script th:src="@{/js/tabla.js}"></script>

	<!-- Custom scripts for all pages-->

</body>

</html>