body{
	/*background-image: linear-gradient(to left,#DF48B0,#E63068,#DF48B0);*/
	background-image: linear-gradient(to left,#00A4CD,#51D4F5,#00A4CD);
}
.marco{
	/* tamaño y color del cuadro*/
	background-image: linear-gradient(80deg,#D669AD ,white,#D669AD);
	max-width:800px;
	/* centrar el cuadro*/
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%; /*altura*/
	border-radius: 10px;
	text-align: center;
	/*sombra /eje x/eje y/ tamañoSombra /color sombra*/
	box-shadow: 10px 10px 20px #000000;
}

.titulo{
	/*fuente*/
	font-size: 18px;
	padding-top: 25px;
}
.linea{
	/*crear linea: ancho/estado/color/ */
	border-bottom: 5px solid #D81616;
	padding-bottom: 5px;
}
.margen{
	margin-left: 50px;
	margin-right: 50px;
}
